html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #090a0c;
  color: white;
  scroll-behavior: smooth;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#navbar {
  position: fixed;
  display: block;
  background-color: inherit;
  top: 0;
  height: 60px;
  width: 100%;
  margin: 0;
}

#name {
  padding: 10px;
  font-size: 1.7rem;
  display: inline-block;
}

#links {
  float: right;
  margin: 18px;
}
@media (max-width: 600px) {
  #navbar {
    text-align: center;
  }
  #links {
    display: none;
  }
}

#links a {
  color: #3277b3;
  text-decoration: none;
  margin: 10px;
}

#header {
  min-height: 70vh;
  padding-top: 20vh;
}

#header a {
  margin: 5px;
  text-decoration: none;
  color: white;
}

img {
  height: 300px;
  width: 300px;
  border-radius: 150px;
}

#img-border {
  padding: 10px;
  height: 300px;
  width: 300px;
  margin-bottom: 25px;
  border-radius: 160px;
  border: 3px solid #3277b3;
}

#about {
  max-width: 400px;
}

.section {
  display: block;
  padding: 25px 0 25px 0;
  min-height: 30vh;
}

.section-header {
  font-size: 2rem;
  font-weight: normal;
  width: 500px;
  height: 50px;
  max-width: 90%;
  display: block;
  margin: 25px auto 50px auto;
  padding: 25px;
  border-bottom: 2px solid #3277b3;
}

.card {
  margin: 20px;
  display: inline-block;
  width: 600px;
  max-width: 80%;
  vertical-align: top;
  text-align: left;
  background-color: #1d2026;
  padding: 20px;
  border-radius: 5px;
}

.experience-title {
  color: #3277b3;
}

.experience-company {
  font-style: italic;
}

.experience-dates {
  font-style: italic;
}

.project-title {
  color: #3277b3;
}

.project-languages {
  font-style: italic;
}

.project-dates {
  font-style: italic;
}

#contact a {
  color: #3277b3;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #3277b3;
  color: white;
}
